<div class="col-md-offset-3 col-md-15">
    <div class="titels"><h1><%= title %></h1></div>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Add Button</h2>
        <h2>In the Note-taker section, you can find a button called "Create your notes". This button will create a space where you can wright your notes. the notes section includes four things name of the notes, the date, the description and any additional notes that you have. In the add notes section, you are required to fill out the first three sections but additional  note secure is optional. </h2>
    </section>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Edit Button</h2>
        <h2>In the Note-taker section, you can find a button called "Edit". This button will create a space where you can Edit your notes. the Edit section includes four things name of the notes, the date, the description and any additional notes. You can edit any section according to your desire.</h2>
    </section>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Delete Button</h2>
        <h2>In the Note-taker section, you can find a button called "Delete". This button will immediately delete your selected note. You can delete any section according to your desire.</h2>
    </section>

    <section class="Information2">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Have fun!</h2>
    </section>