<%- include partials/header.ejs %>  <!-- This line calling header.ejs -->
<%- include partials/main_nav.ejs %> <!-- This line calling Partials.ejs -->

<div id="banner">

    <section class="intro">
        <!-- name of the page so user know where he is with button tag to make page more attractive/*-->
        <h1>Welcome to My Note-Taker Site</h1>
    </section>

    <section class="Assignment">
        <!-- name of the assignment and a student name and id number/*-->
        <h1>Assignment:3 by Dev Patel (100828640)</h1>
    </section>

    <section class="firstqoute">
        <!-- for more content on page for user/*-->
        <h1>"When I wrote this code, Only God and I understood what I did, Now only God Knows."</h1>


    </section>

    <section class="thanks">
        <!-- the professor name and TA name for thanking them/*-->
        <h1>
            <span class="multicolor">Special thanks to:</span>
        </h1>
        <h4>Ontario tech university's</h4>
        <h1>Professor: Mr.Ahmed Sheikh</h1>
        <h1>TA: Ms.Tanzina Akter</h1>

    </section>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Introduction</h2>
        <h2>Hi everyone, this website is built as a note-taking website. You can add as much as information you want to add. This website is designed based on CRUD operations so you can create, read, update and delete your notes any time you want without any difficulty. More information is provided in the Notetaker section at the top. have fun!</h2>
    </section>


    <%- include partials/footer.ejs %> <!-- This line calling footer.ejs -->
